.login-box-wrap {
  width: 100%;
  min-height: 100%;
  background: #f0f2f5 url(https://ai.feipankang.com/img/background.5825f033.svg) no-repeat 50%;
  background-size: 100%;
  padding: 110px 0 144px;
  position: relative;

  .login-box {
    display: flex;
    width: 800px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    .top {
      flex: 1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;

      .header {
        height: 176px;
        line-height: 176px;

        .logo {
          height: 176px;
        }
      }

      .desc {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.45);
        margin-top: 12px;
        margin-bottom: 40px;

        p {
          margin-top: 0;
          margin-bottom: 1em;
          text-align: center;
        }
      }
    }

    .router-container {
      min-width: 260px;
      width: 368px;
      margin: 0 auto;
    }
  }

  .code-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 38px;
  }

  .login-form-button {
    padding: 0 15px;
    font-size: 16px;
    height: 40px;
    width: 100%;
  }
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.85);
  transition: background-color 1000s ease-out 0.5s;
}
