.scroll-bar-wrap {
  width: 15px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background: #000;

  & > div {
    display: flex;

    &.active:after {
      cursor: pointer;
      content: '';
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
      margin: 0 auto;
    }
  }
}