.nodule-info-box {
  position: absolute;
  right: 15px;
  top: 95px;
  width: 230px;
  color: #fff;
  font-size: 14px;

  .nodule-detail {
    .list {
      display: flex;
      height: 28px;
      line-height: 28px;

      .ant-radio-wrapper {
        margin-right: 0;
      }

      .ant-radio-group {
        display: flex;
        align-items: center;
      }

      .ant-radio-wrapper {
        color: #fff;
      }

      .ant-select {
        margin-top: 2px;
      }
    }
  }

  .check-group {
    line-height: 28px;

    .group-wrap {
      width: 100%;
      color: #fff;
      font-size: 14px;
      display: flex;
      justify-content: space-between;

      .group {
        padding-right: 40px;
      }
    }
  }
}

.ant-radio-disabled + span {
  color: #fff !important;
}
