.nodule-info-box {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 250px;
  padding: 0 10px;

  .nodule-detail {
    display: flex;
    flex-direction: column;

    em {
      font-weight: bold;
    }

    span {
      margin: 5px 0;
    }
  }
}