.study-list-box {
  width: 100%;
  height: 100%;

  header {
    z-index: 2;
    color: #fff;
    height: 59px;
    background-color: #1890ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    .logo {
      display: flex;
      align-items: center;

      img {
        margin-right: 5px;
        height: 32px;
      }

      h1 {
        font-size: 18px;
        margin: 0 0 0 8px;
        font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB,
          Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
          Segoe UI Symbol;
        font-weight: 600;
        color: #fff;
      }
    }

    .ant-btn.ant-btn-text {
      color: #fff;

      &:hover {
        background: hsla(0, 0%, 100%, 0.3);
      }
    }
  }

  .study-list-container-wrap {
    width: 100%;
    height: 100%;
    background: rgb(240, 242, 245);
    padding: 25px;

    .study-list-container {
      width: calc(100% - 50px);
      height: calc(100% - 110px);
      padding: 25px;
      position: absolute;
      z-index: 2;
      background: #fff;
      border-radius: 4px;

      .search-box-wrap {
        margin-bottom: 25px;

        .header {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
        }

        .search-box {
          display: flex;

          .ant-input {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
