.result-nodule-info {
  width: 350px;
  color: #333;
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  .box-title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .box-title-tips {
    margin-bottom: 2px;

    .list.active {
      color: #ff4d4f;
    }
  }

  .list-title {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .box-wrap {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 8px;
    padding: 10px 0 10px 10px;
  }

  .mark-box {
    position: relative;
    margin-bottom: 0;
    font-size: 13px;

    &.active {
      color: #ff4d4f !important;
    }

    &.mb {
      margin-bottom: 5px;
    }

    &.flex {
      display: flex;
      align-items: center;

      &.left {
        align-items: start;

        // .mark-title {
        //   margin-top: 2px;
        // }
      }
    }

    .mark-title {
      display: inline-block;
      width: 130px;
      position: relative;

      &.w250 {
        width: 250px;
      }

      &.mb {
        margin-bottom: 2px;
      }

      .anticon {
        position: absolute;
        left: -16px;
        top: 3px;
      }
    }

    .mark-content {
      width: 320px;

      &.slider {
        width: 330px;
      }

      .ant-checkbox-wrapper,
      .ant-radio-wrapper,
      .ant-slider-mark-text {
        font-size: 12px !important;
        color: #fff;
      }
    }

    .ant-btn {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .tips {
    font-size: 12px;
    line-height: 18px;

    .active {
      color: #ff4d4f;
    }
  }

  // .no-data-tips {
  //   height: 23px;
  //   line-height: 23px;
  // }
}

.mark-box.active {
  color: #ff4d4f !important;
}

.third-mark-box-wrap {
  .ant-slider-rail {
    background-color: #c7c0c0 !important;
  }

  .ant-segmented {
    margin-top: 5px !important;
    background: #fff !important;

    .ant-segmented-item-label {
      color: rgba(0, 0, 0, 0.85) !important;
    }

    .ant-segmented-thumb,
    .ant-segmented-item-selected {
      background: #1890ff !important;
      color: #fff !important;

      .ant-segmented-item-label {
        color: #fff !important;
      }
    }
  }

  .ant-checkbox-group .ant-checkbox-wrapper,
  .ant-radio-group .ant-radio-wrapper {
    color: #333 !important;
  }

  .ant-slider-mark-text {
    color: #333 !important;
  }

  .ant-tooltip {
    .ant-tooltip-arrow-content {
      --antd-arrow-background-color: inherit !important;
    }

    .ant-tooltip-inner {
      background: inherit;
      color: #000 !important;
    }
  }

  .mark-box {
    .ant-slider-handle {
      background-color: #ff4d4f !important;
      border: solid 2px #ff4d4f !important;
    }
  }

  .mark-box-wrap {
    .ant-select-disabled .ant-select-selector,
    .ant-segmented-disabled,
    .ant-checkbox-disabled .ant-checkbox-inner,
    .ant-radio-disabled .ant-radio-inner {
      background: inherit !important;
    }

    .ant-checkbox-wrapper-disabled .ant-checkbox-disabled + span,
    .ant-radio-wrapper-disabled .ant-radio-disabled + span {
      color: #333 !important;
    }
  }
}
